@import '../styles/rwd.scss';
@import '../styles/reset.scss';
@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800|Fjalla+One&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
}

body {
  background: url("/cloud.jpg") no-repeat;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 400;
  color: $white;
  box-sizing: border-box;
}

.container {
  @include rwd('small-tablet') {
    padding: 0 15px;
    width: 100%;
  }

  box-sizing: border-box;
  margin: auto;
  width: 550px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
